{% extends "base.html" %}
{% block content %}
<div style="text-align: center; margin: 1em;">{{now|timefmt}}</div>
{% for p in posts %}
<article class="search-result">
    <strong><big><a href="{{p.url}}">{{p.title}}</a></big></strong>
    <div>{{p.content if p.content is not none}}</div>
    <small>
    {% for m in p.media %}
    <p><a href="{{m.href}}">{{m.filename}}</a></p>
    {% endfor %}
    </small>
    <address>{{p.channel.name}} - {{p.date|timefmt}}</address>
</article>
{% endfor %}
{% endblock %}
